<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <script type='module'>
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
  </head>
  <body>
    <turbo-frame id='bar'>
      質問を投稿しました。
      <button type='button' onclick='location.href="/"'>戻る</button>
    </turbo-frame>
  </body>
</html>